@import "tailwindcss";

/* Prose typography customization */
.prose {
  color: rgb(82 82 91);
  max-width: 65ch;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
  color: rgb(63 63 70);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: rgb(59 130 246);
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(to right, rgb(59 130 246), rgb(59 130 246));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease-in-out, background-color 0.2s ease-in-out;
  padding: 0.125em 0.25em;
  border-radius: 0.25rem;
}

.prose :where(a):not(:where([class~="not-prose"] *)):hover {
  background-size: 100% 2px;
  background-color: rgba(59, 130, 246, 0.1);
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: rgb(24 24 27);
  font-weight: 600;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: rgb(24 24 27);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  color: rgb(24 24 27);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
  padding-bottom: 0.5em;
  border-bottom: 2px solid rgb(228 228 231);
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  color: rgb(24 24 27);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
  padding-left: 0.75em;
  border-left: 4px solid rgb(59 130 246);
}

.prose :where(h4):not(:where([class~="not-prose"] *)) {
  color: rgb(24 24 27);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figure):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figcaption):not(:where([class~="not-prose"] *)) {
  color: rgb(113 113 122);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: rgb(24 24 27);
  font-weight: 600;
  font-size: 0.875em;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: none;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  color: rgb(229 231 235);
  background-color: rgb(24 24 27);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(pre code):not(:where([class~="not-prose"] *))::before,
.prose :where(pre code):not(:where([class~="not-prose"] *))::after {
  content: none;
}

.prose :where(ul):not(:where([class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  font-weight: 500;
  font-style: italic;
  color: rgb(24 24 27);
  border-left-width: 0.25rem;
  border-left-color: rgb(228 228 231);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.prose :where(hr):not(:where([class~="not-prose"] *)) {
  border-color: rgb(228 228 231);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(table):not(:where([class~="not-prose"] *)) {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose :where(thead):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: rgb(212 212 216);
}

.prose :where(thead th):not(:where([class~="not-prose"] *)) {
  color: rgb(24 24 27);
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose :where(tbody tr):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: rgb(228 228 231);
}

.prose :where(tbody td):not(:where([class~="not-prose"] *)) {
  vertical-align: baseline;
  padding: 0.5714286em;
}

/* Prose size variants */
.prose-lg {
  font-size: 1.125rem;
  line-height: 1.7777778;
}

.prose-lg :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

.prose-lg :where(h2):not(:where([class~="not-prose"] *)) {
  font-size: 1.6666667em;
  margin-top: 1.8666667em;
  margin-bottom: 1.0666667em;
  line-height: 1.3333333;
}

.prose-lg :where(h3):not(:where([class~="not-prose"] *)) {
  font-size: 1.3333333em;
  margin-top: 1.6666667em;
  margin-bottom: 0.6666667em;
  line-height: 1.5;
}

/* Prose color variants */
.prose-zinc {
  --tw-prose-body: rgb(63 63 70);
  --tw-prose-headings: rgb(24 24 27);
  --tw-prose-links: rgb(59 130 246);
  --tw-prose-bold: rgb(24 24 27);
  --tw-prose-counters: rgb(82 82 91);
  --tw-prose-bullets: rgb(161 161 170);
  --tw-prose-hr: rgb(228 228 231);
  --tw-prose-quotes: rgb(24 24 27);
  --tw-prose-quote-borders: rgb(228 228 231);
  --tw-prose-captions: rgb(113 113 122);
  --tw-prose-code: rgb(24 24 27);
  --tw-prose-pre-code: rgb(229 231 235);
  --tw-prose-pre-bg: rgb(24 24 27);
  --tw-prose-th-borders: rgb(212 212 216);
  --tw-prose-td-borders: rgb(228 228 231);
}

.prose-zinc :where(a):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-links);
}

.prose-zinc :where(strong):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
}

.prose-zinc :where(code):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-code);
}

.prose-zinc :where(figcaption):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-captions);
}
